backup_workflows/Evaluator_Optimizer.json
{
  "createdAt": "2025-06-15T11:11:37.870Z",
  "updatedAt": "2025-06-15T11:11:40.000Z",
  "id": "ibMmYUNVDap2iuiv",
  "name": "Evaluator-Optimizer",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "# Evaluator-Optimizer\n✅ Ensures High-Quality Outputs – AI doesn’t just generate code, it verifies and refines until all requirements are met.\n\n✅ Reduces Errors & Manual Review – Automates verification, minimizing the need for human debugging.\n\n✅ Flexible & Scalable – Can be adapted to content generation, structured data validation, and UI text refinement.\n\n✅ Optimized AI Performance – The iterative approach ensures continuous improvement of AI-generated responses.",
        "height": 220,
        "width": 820,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -420,
        -40
      ],
      "typeVersion": 1,
      "id": "2e1647e6-cfcf-4c12-9e2a-cb1399d1defd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -520,
        280
      ],
      "id": "e9c7b63d-7ca1-45e3-a251-70b5c4d32836",
      "name": "When chat message received",
      "webhookId": "fab30ad7-8a5a-4477-be98-1aa43b92b052"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -160,
        520
      ],
      "id": "50c7bda3-361c-42bf-86ab-b1b96f8db6df",
      "name": "4o mini",
      "credentials": {
        "openAiApi": {
          "id": "OWBmhC44Dxoxd8qx",
          "name": "Personal - n8n connect"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=# Overview\nYou are an expert biography writer. You will receive information about a person, and your job is to create an entire profile using the information they give you. You are allowed to be creative."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -300,
        300
      ],
      "id": "38cab287-509e-46ab-abfd-a9f9f2f6cf7c",
      "name": "Biography Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the biography:\n{{ $json.bio }}",
        "options": {
          "systemMessage": "=## Overview\nYou are an expert biography evaluator. Your job is to provide feedback on the biography.\n\n## Criteria\n- Make sure the biography includes a quote from the person. This could be their favorite saying or a piece of advice. It is essential that every biography has a quote.\n- Make sure the biography is light and humorous.\n- Make sure the biography has NO emojis.\n\n## Output\nYou only need to output feedback. If the biography is finished and all the criteria are met, simply output \"Finished\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        300,
        220
      ],
      "id": "0b9f31f2-ca0a-434b-bc18-cb363ea910a8",
      "name": "Evaluator Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d931f3d-b391-4be9-a50a-cc4a73c31b71",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Finished",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        220
      ],
      "id": "669c70d6-e066-4e73-9e4c-00b9755d3403",
      "name": "Evaluate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Biography: {{ $('Set Bio').item.json.bio }}\n\nFeedback: {{ $('Evaluator Agent').item.json.output }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an expert biography revisor. Your job is to take the biography and optimize it based on the feedback."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        900,
        400
      ],
      "id": "4b3aeb73-bc7a-4616-8ba8-ef1a3240d1f6",
      "name": "Optimizer Agent"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "1JUzbgV0V7R1yYKj5ldX16gqcL8DFY6_r5iOQ2txLA80",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Set Bio').item.json.bio }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        980,
        160
      ],
      "id": "ef35568d-d299-4e78-bbb0-3bcf05a7a165",
      "name": "Push to Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7y3bs0qq7bWmbPK0",
          "name": "n8n google oauth2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "adf17d4d-a89e-4f97-9d31-5e74834428fc",
              "name": "bio",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        300
      ],
      "id": "39024259-9a0f-4c0d-81cc-e846bbef26e7",
      "name": "Set Bio"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Biography Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4o mini": {
      "ai_languageModel": [
        [
          {
            "node": "Biography Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Evaluator Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Optimizer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Biography Agent": {
      "main": [
        [
          {
            "node": "Set Bio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluator Agent": {
      "main": [
        [
          {
            "node": "Evaluate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate": {
      "main": [
        [
          {
            "node": "Push to Docs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Optimizer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Optimizer Agent": {
      "main": [
        [
          {
            "node": "Set Bio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Bio": {
      "main": [
        [
          {
            "node": "Evaluator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "24438fbc-f06c-4ee9-81a7-0911443b6c11",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-06-14T16:35:33.641Z",
      "updatedAt": "2025-06-14T16:35:33.641Z",
      "id": "70WcGhZ8YlVSEiKN",
      "name": "template/example"
    }
  ]
}