backup_workflows/social_media_content_streaming.json
{
  "createdAt": "2025-06-16T06:13:25.958Z",
  "updatedAt": "2025-06-16T10:32:56.000Z",
  "id": "hVMlVH1gIVLAG6NR",
  "name": "social_media_content_streaming",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "21372121-8164-80d2-9cc5-f0d61c7d762f",
          "mode": "list",
          "cachedResultName": "social_media_content",
          "cachedResultUrl": "https://www.notion.so/21372121816480d29cc5f0d61c7d762f"
        },
        "limit": 100,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "status|status",
              "condition": "does_not_equal",
              "statusValue": "need to fix"
            },
            {
              "key": "status|status",
              "condition": "does_not_equal",
              "statusValue": "awating"
            }
          ]
        },
        "options": {
          "sort": {
            "sortValue": [
              {
                "timestamp": true,
                "key": "created_time",
                "direction": "descending"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -240,
        480
      ],
      "id": "54a4721a-5988-4f40-a406-99ac18b7d858",
      "name": "get_all_post_content",
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "8JMRvEMTkNlJv4v6",
          "name": "burased notion db"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -20,
        480
      ],
      "id": "815e0164-1d6f-4d7e-8b1b-840c28dfba77",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.debugHelper",
      "typeVersion": 1,
      "position": [
        2840,
        1205
      ],
      "id": "5fb3c577-7dd2-4ce9-ba77-a246308442b2",
      "name": "DebugHelper",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.property_status }}",
                    "rightValue": "ready to live",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "5de2bb28-0585-410c-808e-7412cda2e51e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create new post"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "223e8dfa-dc52-4c26-9ebd-d37a9332d41c",
                    "leftValue": "={{ $json.property_status }}",
                    "rightValue": "is live",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "send to update"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "32a00e81-ba68-42a2-bb84-ca4211fd6dc5",
                    "leftValue": "={{ $json.property_fb_post_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "send to update"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        200,
        555
      ],
      "id": "c913652c-abe9-4af4-80f1-8737bc196813",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        200,
        180
      ],
      "id": "bece9493-0d78-4a21-8d9b-80b6bbd4ce6a",
      "name": "done"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1300,
        530
      ],
      "id": "60c4a9c6-ba2a-4786-838b-2fe6f1a16471",
      "name": "create new"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        420,
        855
      ],
      "id": "d1fd89c6-25d6-4501-ac0c-35067238a219",
      "name": "update post"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -460,
        205
      ],
      "id": "02d0dcf6-35eb-46cc-a511-46abf12a1599",
      "name": "init"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "13d4da66-b6af-4b26-96cb-c60c15389941"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -20,
        -195
      ],
      "id": "c8f48c16-52a9-4e1c-94d9-02bdb322b092",
      "name": "error check"
    },
    {
      "parameters": {
        "graphApiVersion": "v22.0",
        "node": "me",
        "edge": "={{\"\"}}",
        "options": {}
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -240,
        -195
      ],
      "id": "83f5d463-4c56-4df2-9980-3106b81bda4f",
      "name": "api tester",
      "notesInFlow": true,
      "credentials": {
        "facebookGraphApi": {
          "id": "pzVO67qR0L47N9nf",
          "name": "dex3d motion lab page token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        200,
        -20
      ],
      "id": "c647111a-17f1-4715-b82c-849bd58f05a7",
      "name": "do nothing"
    },
    {
      "parameters": {
        "errorMessage": "API Error"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        200,
        -220
      ],
      "id": "6e099f85-965e-4492-b8fb-edaac8e44ae2",
      "name": "fb api issue"
    },
    {
      "parameters": {
        "httpRequestMethod": "DELETE",
        "graphApiVersion": "v22.0",
        "node": "={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -680,
        1465
      ],
      "id": "266db27f-906a-422a-a59b-356a7c6070f1",
      "name": "delete example",
      "credentials": {
        "facebookGraphApi": {
          "id": "pzVO67qR0L47N9nf",
          "name": "dex3d motion lab page token"
        }
      },
      "disabled": true,
      "notes": "delete by use post id"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "me",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json.property_content }}"
              },
              {
                "name": "url",
                "value": "={{ $json.property_image_url }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1520,
        530
      ],
      "id": "a775f3f3-4b7d-4066-a033-9f314daa7524",
      "name": "post create",
      "credentials": {
        "facebookGraphApi": {
          "id": "pzVO67qR0L47N9nf",
          "name": "dex3d motion lab page token"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $json.fb_post_id }}",
        "edge": "={{ \"\" }}",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json.property_content }}"
              },
              {
                "name": "url",
                "value": "={{ $json.property_image_url }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1740,
        1030
      ],
      "id": "f5122793-a68c-4cda-9310-ee0814cc2057",
      "name": "post update",
      "credentials": {
        "facebookGraphApi": {
          "id": "pzVO67qR0L47N9nf",
          "name": "dex3d motion lab page token"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2180,
        530
      ],
      "id": "1b022739-e43f-4696-bf2a-82bbfece7387",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85c9db9a-d41e-4ba9-8687-c33d31d0ddd4",
              "name": "fb_post_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1740,
        530
      ],
      "id": "aff99d1b-344c-4a1f-a300-108189703672",
      "name": "fb_post_id"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1300,
        1130
      ],
      "id": "3b3a4409-ff7c-41af-9cc7-6aef0b6bf257",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85c9db9a-d41e-4ba9-8687-c33d31d0ddd4",
              "name": "fb_post_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "5d6c86fb-1613-4bac-94c8-7ea3c531cbbf",
              "name": "fb_post_message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1080,
        855
      ],
      "id": "bb128f0a-627e-4773-bce2-d00092ab0c4e",
      "name": "fb_post_id1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        330
      ],
      "id": "3c27cb63-1989-4147-8ba6-7acf2d7d2c3d",
      "name": "pass"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "13d4da66-b6af-4b26-96cb-c60c15389941"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        860,
        655
      ],
      "id": "d1e8dc34-b883-4ecd-a64f-8982f1200298",
      "name": "error check1"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('get_all_post_content').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "status|status",
              "statusValue": "is live"
            },
            {
              "key": "fb_post_id|rich_text",
              "textContent": "={{ $json.fb_post_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2400,
        530
      ],
      "id": "fb756bcc-b188-4e93-a322-a4baabf0ae09",
      "name": "set param",
      "credentials": {
        "notionApi": {
          "id": "8JMRvEMTkNlJv4v6",
          "name": "burased notion db"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "passing1",
      "typeVersion": 1,
      "position": [
        1080,
        1205
      ],
      "id": "186d0b15-e752-4094-a43f-91644d2a0bdc"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1080,
        630
      ],
      "id": "9a70c555-dbb4-491d-8132-311e9b637e95",
      "name": "Merge2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "passing2",
      "typeVersion": 1,
      "position": [
        1740,
        830
      ],
      "id": "26921781-4bf3-4904-9975-0a0a5a410bbc"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1960,
        905
      ],
      "id": "c6c9fc8d-e1f1-4723-a9f3-fd77b7f96c80",
      "name": "Merge3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "passing",
      "typeVersion": 1,
      "position": [
        2620,
        1205
      ],
      "id": "94f94fe7-74e8-4985-9d1e-756af7b079ae"
    },
    {
      "parameters": {
        "graphApiVersion": "v22.0",
        "node": "={{ $json.property_fb_post_id }}",
        "edge": "={{\"\"}}",
        "options": {
          "fields": {
            "field": [
              {
                "name": "id"
              },
              {
                "name": "message"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        640,
        655
      ],
      "id": "c630aed2-aafa-41ac-b9a4-a2ecece71839",
      "name": "get exists post",
      "credentials": {
        "facebookGraphApi": {
          "id": "pzVO67qR0L47N9nf",
          "name": "dex3d motion lab page token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dc804c28-287e-4a95-b8c4-fcb432db2580",
              "leftValue": "={{ $json.fb_post_message }}",
              "rightValue": "={{ $json.property_content }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        1130
      ],
      "id": "58abebe7-0de2-4b5d-93f8-acabaa7e3b21",
      "name": "content check"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "passing3",
      "typeVersion": 1,
      "position": [
        860,
        1055
      ],
      "id": "a344c9bd-2b14-482f-843d-40f0e6705811"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=## Facebook page post has created / updated\n\n{{ $json.name }}\n{{ $json.property_content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2620,
        540
      ],
      "id": "5cd2f9c2-f844-4d99-b6f7-2798c5cdcc3b",
      "name": "Discord",
      "webhookId": "2a10ede5-0bf7-4d2d-be77-31aea60e229b",
      "credentials": {
        "discordWebhookApi": {
          "id": "XEwLZgcGkqAdFJjT",
          "name": "node webhook"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -680,
        220
      ],
      "id": "1be8b3fe-a18c-4f4e-99e2-1cc1ff868523",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "get_all_post_content": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DebugHelper": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "create new",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create new": {
      "main": [
        [
          {
            "node": "post create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update post": {
      "main": [
        [
          {
            "node": "get exists post",
            "type": "main",
            "index": 0
          },
          {
            "node": "passing1",
            "type": "main",
            "index": 0
          },
          {
            "node": "passing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "init": {
      "main": [
        [
          {
            "node": "get_all_post_content",
            "type": "main",
            "index": 0
          },
          {
            "node": "api tester",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error check": {
      "main": [
        [
          {
            "node": "fb api issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "api tester": {
      "main": [
        [
          {
            "node": "error check",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "post create": {
      "main": [
        [
          {
            "node": "fb_post_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "post update": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "set param",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fb_post_id": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "content check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fb_post_id1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "passing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pass": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error check1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fb_post_id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set param": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "passing1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "create new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "passing2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "passing": {
      "main": [
        [
          {
            "node": "DebugHelper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get exists post": {
      "main": [
        [
          {
            "node": "error check1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "content check": {
      "main": [
        [
          {
            "node": "post update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "passing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "passing3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        [
          {
            "node": "DebugHelper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b3edbb8f-e90c-4d54-a0d1-d3b518d3620e",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-06-15T07:15:53.533Z",
      "updatedAt": "2025-06-15T07:15:53.533Z",
      "id": "IdmwSqVN0qsBEGBm",
      "name": "on production"
    }
  ]
}