N8N_Workflows/cgi_course_instructor_ai_headshot_profile.json
{
  "createdAt": "2025-06-23T02:56:17.741Z",
  "updatedAt": "2025-06-23T06:33:29.000Z",
  "id": "Hl1Akvj7lz5EEDSZ",
  "name": "cgi_course_instructor_ai_headshot_profile",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        70
      ],
      "id": "5e1faf19-f793-4596-9e6e-42f4a5b5fb6a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "21372121-8164-8072-b7ad-ef66898202ac",
          "mode": "list",
          "cachedResultName": "cgi_course_instructor",
          "cachedResultUrl": "https://www.notion.so/2137212181648072b7adef66898202ac"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        220,
        70
      ],
      "id": "d67559e8-ece3-4db2-a9c7-aa1fdcadf9b1",
      "name": "get_instructors",
      "credentials": {
        "notionApi": {
          "id": "8JMRvEMTkNlJv4v6",
          "name": "burased notion db"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        660,
        70
      ],
      "id": "ee3bc716-8dde-42a7-90e4-c31d37cca2d8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        3080,
        420
      ],
      "id": "e76f729a-64f6-475f-8f3c-de191079272f"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "done",
      "typeVersion": 1,
      "position": [
        880,
        -180
      ],
      "id": "ec238f9a-0830-48d2-a95e-5a1cf1d6f688"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "090c7b34-f911-41f5-962e-2a9255448054",
              "leftValue": "={{ $json.property_selfie_image_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        440,
        70
      ],
      "id": "e61ed514-d69f-4ba6-9a52-1612d333bdb5",
      "name": "has profile url"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.debugHelper",
      "typeVersion": 1,
      "position": [
        2860,
        145
      ],
      "id": "0202d7b5-7106-4544-92e7-78acd0576294",
      "name": "DebugHelper",
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.property_selfie_image_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        20
      ],
      "id": "ef3c9e5a-0924-46fc-b998-b3f3e1a2fc7d",
      "name": "get image"
    },
    {
      "parameters": {
        "url": "={{ $json.property_style_ref_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        320
      ],
      "id": "96ee1b1f-1bb6-4e36-b3a5-4323a67acaf2",
      "name": "get ref"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "style_b64",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1100,
        320
      ],
      "id": "ad87c347-f68f-4d32-adb2-a43f90a1dfba",
      "name": "b64_ref"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1320,
        145
      ],
      "id": "d404784f-5dae-40be-898e-82e46b222f2a",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.property_ai_image_style }}",
                    "rightValue": "professional",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e77b3385-353b-4561-8e5c-b581e38ca794"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "professional"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "37b41991-6244-457c-841c-98f79b346969",
                    "leftValue": "={{ $json.property_ai_image_style }}",
                    "rightValue": "modern",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "modern"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c7213ee2-bda9-4b69-91a9-ece514f2a1b8",
                    "leftValue": "={{ $json.property_ai_image_style }}",
                    "rightValue": "refined",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "refined"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1540,
        145
      ],
      "id": "af591af7-5f9e-4aa0-bd4d-815dbd3d8b7c",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "pass",
      "typeVersion": 1,
      "position": [
        2200,
        145
      ],
      "id": "1e55fa1d-d685-469e-8516-2602bd3fdfe3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/edits",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "=Take the person on the right and style it like the left image. Do not change face identity. Subject should be\nslightly turned towards the camera like the person in the left photo. Wearing a light-\nlored shirt, with a natural smile and warm eye contact. Illuminated by bright, al\nlighting against a neutral or softly graduated background, creating a fresh, open\natmosphere. Their expression conveys approachability and confidence with a relaxed\ngaze. Contemporary portrait photography. Shot with a Sony Alpha A7 III and an f/2\nlens. Photorealistic, 8k. Square aspect ratio (1:1)."
            },
            {
              "parameterType": "formBinaryData",
              "name": "image[]",
              "inputDataFieldName": "=style_data"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image[]",
              "inputDataFieldName": "profile_data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        70
      ],
      "id": "79de9180-cd48-4699-8ded-fab86cc26297",
      "name": "image gen modern",
      "credentials": {
        "openAiApi": {
          "id": "OWBmhC44Dxoxd8qx",
          "name": "Personal - n8n connect"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/edits",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "=Keep the person on the right and style it like the left image. Do not change face identity. Subject sh\nightly towards the camera like the person in the left photo. Wearin\nubtle smile and gentle eye contact.  Illuminated by soft studio 1\ngainst a dark background, creating depth of field that highlights deta\ncial texture or fine lines on their face. Their gaze reflects calmess\ngazes into space. Portrait photography. Shot with a Sony Alpha A7 III and an f/2\nlens. Photorealistic, 8k. Square aspect ratio (1:1)."
            },
            {
              "parameterType": "formBinaryData",
              "name": "image[]",
              "inputDataFieldName": "=style_data"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image[]",
              "inputDataFieldName": "profile_data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        320
      ],
      "id": "2ddb077e-47d7-4c0b-bcb2-308352300b80",
      "name": "image gen refined",
      "credentials": {
        "openAiApi": {
          "id": "OWBmhC44Dxoxd8qx",
          "name": "Personal - n8n connect"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "profile_b64",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1100,
        20
      ],
      "id": "809f7f16-d098-4879-a1b9-2b14de21a9b4",
      "name": "b64_profile"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NkdZphjGXBfOUYB0",
          "mode": "list",
          "cachedResultName": "concat_profile_ref_binary"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1760,
        -130
      ],
      "name": "concat multiple binary3",
      "id": "bfd00698-6d08-4cbf-b8c5-ba8a8c673a46"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NkdZphjGXBfOUYB0",
          "mode": "list",
          "cachedResultName": "My Sub-workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1760,
        70
      ],
      "name": "concat multiple binary",
      "id": "fb400f07-bb3b-4627-9906-5d5b96be2b5e"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NkdZphjGXBfOUYB0",
          "mode": "list",
          "cachedResultName": "My Sub-workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1760,
        320
      ],
      "name": "concat multiple binary4",
      "id": "252214d8-d471-4620-b846-05fd39159596"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2420,
        145
      ],
      "id": "f9ff9e55-039d-4a80-ae3a-8ae5f07cc545",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/edits",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "=Take the person on the right and restyle their appearance to match the aesthetic of the left image without altering their facial features or identity. Do not change or blend their face—retain all distinct facial characteristics exactly as in the original. The subject should be slightly turned toward the camera like the person in the left photo. Dress them in a business casual outfit with subtle patterns or textures. They should display a confident smile and make direct eye contact. Use crisp, professional lighting with soft fill to reduce shadows, and place them against a subtly textured or gradient light background. The expression should convey both expertise and approachability. The image should be an executive portrait with editorial polish, shot as if using a Sony Alpha A7 III with an f/1.8 lens. Final output should be photorealistic, in 8K resolution, with a square (1:1) aspect ratio. Emphasize face preservation—do not morph or stylize the face beyond lighting and angle adjustment."
            },
            {
              "parameterType": "formBinaryData",
              "name": "image[]",
              "inputDataFieldName": "style_data"
            },
            {
              "parameterType": "formBinaryData",
              "name": "image[]",
              "inputDataFieldName": "profile_data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        -130
      ],
      "id": "07645bdc-e84b-4ce3-83b6-5452455e33b7",
      "name": "image gen professional",
      "credentials": {
        "openAiApi": {
          "id": "OWBmhC44Dxoxd8qx",
          "name": "Personal - n8n connect"
        }
      }
    },
    {
      "parameters": {
        "name": "=output_99.jpg",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Kr1KCrm67yWuuNvJ20bbfQt0O89B0QaM",
          "mode": "list",
          "cachedResultName": "Temp",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Kr1KCrm67yWuuNvJ20bbfQt0O89B0QaM"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2640,
        145
      ],
      "id": "47597721-d1ab-4f6d-ae76-f941ae2715dd",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "40ftcBIIiCywVBjY",
          "name": "n8n google oauth2"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "get_instructors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_instructors": {
      "main": [
        [
          {
            "node": "has profile url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get image",
            "type": "main",
            "index": 0
          },
          {
            "node": "get ref",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has profile url": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DebugHelper": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get image": {
      "main": [
        [
          {
            "node": "b64_profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get ref": {
      "main": [
        [
          {
            "node": "b64_ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "b64_ref": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "concat multiple binary3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "concat multiple binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "concat multiple binary4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pass": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image gen modern": {
      "main": [
        [
          {
            "node": "pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image gen refined": {
      "main": [
        [
          {
            "node": "pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "b64_profile": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "concat multiple binary4": {
      "main": [
        [
          {
            "node": "image gen refined",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "concat multiple binary": {
      "main": [
        [
          {
            "node": "image gen modern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "concat multiple binary3": {
      "main": [
        [
          {
            "node": "image gen professional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image gen professional": {
      "main": [
        [
          {
            "node": "pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "DebugHelper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c7407b61-6234-40d1-82e6-84a9ba35fc6e",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-06-14T16:35:00.314Z",
      "updatedAt": "2025-06-14T16:35:00.314Z",
      "id": "FLY23u7lZ3euVVMc",
      "name": "experimental"
    }
  ]
}