N8N_Workflows/evaluator_optimizer_test.json
{
  "createdAt": "2025-06-18T03:41:02.652Z",
  "updatedAt": "2025-06-18T13:24:24.000Z",
  "id": "hG5lGXyXavctF8vV",
  "name": "evaluator-optimizer_test",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1260,
        510
      ],
      "id": "5e3056c6-e661-414b-94d9-427bdcd19c4c",
      "name": "When chat message received",
      "webhookId": "eb79f9e8-0647-42a3-ac42-58ff50e0e4e5"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        20,
        455
      ],
      "id": "471d6637-d4ec-4389-baf2-41d1b1ff9217",
      "name": "4o mini",
      "credentials": {
        "openAiApi": {
          "id": "OWBmhC44Dxoxd8qx",
          "name": "Personal - n8n connect"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "options": {
          "systemMessage": "=## โดยรวม\nคุณคือผู้เชี่ยวชาญด้านการประเมินในเรื่องของการเขียนบทความทางการตลาดเรียกว่า Magnetic Empathy Post.\n\n## เกณฑ์\nโปรดตรวจสอบให้แน่ใจว่า\n- ทุกอย่างจะต้องเป็นภาษาไทย\n- เช็คว่าตัวสะกดถูกต้องหรือไม่\n- ดูว่าตรงกับวัตถุประสงค์ข้อการตลาดหรือไม่\n\n## ผลลัพธ์\nอย่างใดอย่างหนึ่ง\nA. คุณเพียงแค่ต้องให้ความเห็นว่าควรจะต้องปรับแก้ตรงไหนบ้างแต่\nB. ถ้าหากทุกอย่างถูกต้องทั้งหมดให้พิมพ์กลับมาแค่คำว่า \"Finished\" โดยที่ไม่ต้องมีคำอธิบายอื่นเพิ่มเติม"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -68,
        235
      ],
      "id": "e5e0fe53-26e4-4f7c-a65c-78876d7a7a50",
      "name": "Evaluator Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d931f3d-b391-4be9-a50a-cc4a73c31b71",
              "leftValue": "={{$runIndex}}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "20995831-114b-4cd3-92d2-b595f77ca708",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Finished",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        308,
        235
      ],
      "id": "5274b37b-80f1-4c73-bc1e-2e603eb0477b",
      "name": "Evaluate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Content: {{ $json.content }}\nFeedback: {{ $json.output }}",
        "options": {
          "systemMessage": "=## ภาพรวม\nคุณเป็นผู้เชี่ยวชาญด้านการเลือกใช้คำพูดให้ดีขึ้น งานของคุณคือนำเนื้อหาโพสมาปรับให้เหมาะสมตามคำติชม\n\n## ผลลัพธ์\nส่งกลับมาแค่เนื้อหาที่ถูกปรับปรุงแล้ว ไม่ต้องมีคำอธิบาย"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        748,
        535
      ],
      "id": "73cbde6c-da28-47c3-a5b0-c2698534913e",
      "name": "Optimizer Agent"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "1JUzbgV0V7R1yYKj5ldX16gqcL8DFY6_r5iOQ2txLA80",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{\"\\n----\\n\"}}{{ $json.content }}{{\"\\n----\\n\"}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        760,
        380
      ],
      "id": "9fb6261b-729b-4491-9fe4-184238bafbd5",
      "name": "Push to Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7y3bs0qq7bWmbPK0",
          "name": "n8n google oauth2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "adf17d4d-a89e-4f97-9d31-5e74834428fc",
              "name": "content",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        510
      ],
      "id": "4b8e6ecb-dc81-4463-9f87-89aa91760e0c",
      "name": "Set Bio"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User exphasize this words: {{ $json.chatInput }}\n",
        "options": {
          "systemMessage": "=# Overview\nYou are an expert in the outline writing. You will receive information about the words or caption, and your job is to create outline idea. You are allowed to be creative.\n\n## Additional\nalway engage people to have positive emphaty.\nYou can adjust the words to prevent disagreement if negative.\n\n# Maketing Framework : Magnetic Empathy & Fear Based Marketing\n\n1. Hook Statement (1–2 lines)\n{{ $json.chatInput }}\n\n2. Mini Expansion or Teaser (Optional, 1–2 lines)\n- Slightly expand on the idea or introduce personal emotion\n- Keep curiosity open\n\n3. In detail: Insight + Source + Soft Takeaway\nA. Personal Insight or Real-Life Explanation (2–4 lines)\n- Describe the situation or your lived experience\n- Make it emotionally intelligent, not overly dramatic\nB. External Validation or Link (1–3 lines)\n- Reference an article, study, quote, or video\n- Add a link if possible or cite the source."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1040,
        510
      ],
      "id": "6eb09fd7-d771-474b-8522-2abfe0da3a09",
      "name": "Outline Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "=## Overview\nYou are an expert article writer. You will receive information about the outline and create article from Introduction to conclusion. You are allowed to serch for reference from the actual link. each paragrap should not be sub topic.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -664,
        510
      ],
      "id": "fdd173a7-5ce0-4851-80be-64ffd3e2bec4",
      "name": "Draft Agent"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        528,
        460
      ],
      "id": "4bc2675c-68c4-42cd-93e1-5be196dfd276",
      "name": "Merge"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Outline Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4o mini": {
      "ai_languageModel": [
        [
          {
            "node": "Outline Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Evaluator Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Optimizer Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Draft Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Evaluator Agent": {
      "main": [
        [
          {
            "node": "Evaluate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate": {
      "main": [
        [],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Optimizer Agent": {
      "main": [
        [
          {
            "node": "Set Bio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Bio": {
      "main": [
        [
          {
            "node": "Evaluator Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Outline Agent": {
      "main": [
        [
          {
            "node": "Draft Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Agent": {
      "main": [
        [
          {
            "node": "Set Bio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Optimizer Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Push to Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "69bb4db2-f5e7-4e5d-9c95-2cc5a8a40d19",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-06-14T16:35:33.641Z",
      "updatedAt": "2025-06-14T16:35:33.641Z",
      "id": "70WcGhZ8YlVSEiKN",
      "name": "template/example"
    }
  ]
}