N8N_Workflows/nudge_marketing_fb_post.json
{
  "createdAt": "2025-06-15T07:05:11.797Z",
  "updatedAt": "2025-06-15T13:49:35.000Z",
  "id": "PGL33HaM0dOYdgHH",
  "name": "nudge-marketing-fb-post",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Nudge Marketing\nfor course / skill meet up"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        880
      ],
      "id": "0ea13183-bb22-41ac-ac21-eda84f65f2ef",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1116,
        1275
      ],
      "id": "99dafc2e-d48f-41a1-9165-e6aa720348ec",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n    \"news_summary\": \"Based on the current situation in the animation industry, there is a growing trend towards remote working and virtual collaboration. This shift has been largely influenced by the ongoing global pandemic, which has accelerated the adoption of technology and digital tools in the animation sector. As a result, companies are reevaluating their traditional working models and exploring new ways to streamline workflows and increase efficiency.\\n\\nThis shift towards remote working is mostly positive, as it allows for greater flexibility, increased access to talent worldwide, and reduced overhead costs for companies. However, it also presents challenges such as maintaining team cohesion, communication barriers, and potential security risks associated with remote work.\\n\\nStudents and employees in the animation industry will be significantly impacted by this trend. They will need to adapt to new ways of working, become proficient in digital collaboration tools, and possibly reconsider their career paths. For students, there may be a greater emphasis on self-directed learning and building a strong online presence to showcase their work. For employees, there may be opportunities for work-life balance but also challenges in navigating virtual team dynamics and staying motivated without physical interactions.\\n\\nIn conclusion, while the shift towards remote working in the animation industry offers many benefits, it also poses challenges that students and employees will need to navigate in order to thrive in this rapidly evolving landscape.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        818,
        900
      ],
      "id": "d66de0af-c0ad-4db7-b892-cf52e2d8ce5a",
      "name": "mockup news ot"
    },
    {
      "parameters": {
        "inputText": "=## Course {{ $json.name }} for {{ $json.property_level }}\n{{ $json.property_introduction }}\n\n## Tranding\n{{ $json.news_summary }}",
        "categories": {
          "categories": [
            {
              "category": "={{ $json.ad_style[0].title }}",
              "description": "=Guidance:\n{{ $json.ad_style[0].hook }}\n{{ $json.ad_style[0].body }}\n{{ $json.ad_style[0].cta }}"
            },
            {
              "category": "={{ $json.ad_style[1].title }}",
              "description": "=Guidance: \n{{ $json.ad_style[1].hook }}\n{{ $json.ad_style[1].body }}\n{{ $json.ad_style[1].cta }}"
            },
            {
              "category": "={{ $json.ad_style[2].title }}",
              "description": "=Guidance:  {{ $json.ad_style[2].hook }} {{ $json.ad_style[2].body }} {{ $json.ad_style[2].cta }}"
            },
            {
              "category": "={{ $json.ad_style[3].title }}",
              "description": "=Guidance:  {{ $json.ad_style[3].hook }} {{ $json.ad_style[3].body }} {{ $json.ad_style[3].cta }}"
            },
            {
              "category": "={{ $json.ad_style[4].title }}",
              "description": "=Guidance:  {{ $json.ad_style[4].hook }} {{ $json.ad_style[4].body }} {{ $json.ad_style[4].cta }}"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Classify which nudge marketing advertise style is the best for trending and has potential to engage people joining the session."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        1336,
        1275
      ],
      "id": "ba95bd79-2b34-44b8-a2a2-aeb700002f79",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write the social media advertising post from my outline accordingly.\n{{ $json.outline }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an expert marketer & advertise outline writer particularly in Nudge Marketing. You will receive information about course for study.\n\n# Your task is to:\n1. Write course advertise caption that be attractive people to join the session.\n2. Give clarify information especially tile, session type,objective, date, time and location.\n3. Output should be Thai language, netural and friendly tone.\n4. Emphasize about meet up and skill exchange all about cgi at this community.\n5. Emphasize about session type.\n6. Ensure all the word not cringe.\n\n## Use this trending information (Optional for more creativity making connecting between audiences):\n{{ $json.news_summary }}\n\n## use nudge marketing advertising style: {{ $json.ad_style[$json.ad_style_selected_idx].title }}\n#Guidance intent (do not copy directly):\n1. introduction / news / trending\n2. hook / engaging words eg.{{ $json.ad_style[4].hook }}\n3. body eg.{{ $json.ad_style[4].body }}\n4. pursuad eg.{{ $json.ad_style[4].cta }}",
          "maxIterations": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2372,
        1275
      ],
      "id": "7e44c935-52ee-496e-9643-5111312545cf",
      "name": "Ad Outline Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d53b1aa0-5eb7-4903-a668-5d0db5f81ae2",
              "name": "news_summary",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1116,
        1525
      ],
      "id": "8e814ebc-aa9c-4a5b-ac4c-dcf96e2b2657",
      "name": "Set",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Topic",
        "options": {
          "systemMessage": "=# Overview\nYou are an expert analyst, you will get information about the news topics amoung animation industry.\n\n# Your task is to:\n1. summary current situation and give comments is that tend to positive or negative.\n2. give what will affect to students, employees.\n3. the format that you give should be only body."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        740,
        1100
      ],
      "id": "333d1a98-a755-49e6-8b1e-5a6914c7d964",
      "name": "News summarize Agent",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "1JUzbgV0V7R1yYKj5ldX16gqcL8DFY6_r5iOQ2txLA80",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.output }}{{ \"\\n\\n\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1116,
        1725
      ],
      "id": "b47702da-13f4-4381-b17a-9eb3ca054c20",
      "name": "Push to Docs2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7y3bs0qq7bWmbPK0",
          "name": "n8n google oauth2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "title_ls = ''\n\nlimit_n = 7\nn = 0\nfor item in _input.all():\n  if n >= limit_n:\n    break\n  title_ls += '- ' + str(item.json.title) + '\\n'\n  n += 1\n\ndata = {\n  'news': title_ls\n}\nreturn data"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        1125
      ],
      "id": "d8b9220a-3fed-4a8d-aaf7-27c0c4b05b7d",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "https://www.cartoonbrew.com/feed",
        "options": {
          "ignoreSSL": false
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        300,
        1125
      ],
      "id": "a5fa51c9-3782-4a50-9455-e4b7ec0ee432",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        828,
        1320
      ],
      "id": "2eb88480-6755-4b06-8785-31a2a39c3926",
      "name": "gpt-3.5-turbo",
      "credentials": {
        "openAiApi": {
          "id": "OWBmhC44Dxoxd8qx",
          "name": "Personal - n8n connect"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "21372121-8164-80ea-936c-ca1b516ef017",
          "mode": "list",
          "cachedResultName": "cgi_course",
          "cachedResultUrl": "https://www.notion.so/21372121816480ea936cca1b516ef017"
        },
        "limit": 1,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "status|status",
              "condition": "equals",
              "statusValue": "on_advertise"
            }
          ]
        },
        "options": {
          "sort": {
            "sortValue": [
              {
                "key": "date_range|date",
                "direction": "descending"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        818,
        1700
      ],
      "id": "5c01051f-9bea-4ea4-a60b-66b42388e14f",
      "name": "get pages course list",
      "alwaysOutputData": false,
      "credentials": {
        "notionApi": {
          "id": "8JMRvEMTkNlJv4v6",
          "name": "burased notion db"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "21372121-8164-80d2-9cc5-f0d61c7d762f",
          "mode": "list",
          "cachedResultName": "social_media_content",
          "cachedResultUrl": "https://www.notion.so/21372121816480d29cc5f0d61c7d762f"
        },
        "limit": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        80,
        2035
      ],
      "id": "418aa756-2497-403e-80a6-dfb4907fe64c",
      "name": "get pages social_media_content",
      "credentials": {
        "notionApi": {
          "id": "8JMRvEMTkNlJv4v6",
          "name": "burased notion db"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        1575
      ],
      "id": "8e972c0d-9bf6-4e98-97b4-687abb54149a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "1JUzbgV0V7R1yYKj5ldX16gqcL8DFY6_r5iOQ2txLA80",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.output }}{{ \"\\n\\n----------------------------------\\n\\n\\n\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        4160,
        1125
      ],
      "id": "5648fbe4-43d0-439f-80c7-7c536b39d889",
      "name": "Push to Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7y3bs0qq7bWmbPK0",
          "name": "n8n google oauth2"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"ad_style\": [\n    {\n      \"title\": \"FOMO + Future-Self Vision\",\n      \"hook\": \"Imagine 3 months from now—you've mastered [skill], while others are still thinking about it.\",\n      \"body\": \"The world’s changing fast. Those who adapt win. Learning [skill] now means you’re future-proofing yourself—whether it’s for better income, job freedom, or creative independence.\",\n      \"cta\": \"Don’t scroll past your future. Start today 👉 [Link]\"\n    },\n    {\n      \"title\": \"Pain Point + Simple Step\",\n      \"hook\": \"Tired of feeling stuck while others move ahead?\",\n      \"body\": \"The skill gap is real. But it doesn’t take years. A small decision today (like starting [skill]) could shift your entire career/life.\",\n      \"cta\": \"Make progress, not excuses. Join us and start learning now. [Link]\"\n    },\n    {\n      \"title\": \"Testimonial Style / Social Proof\",\n      \"hook\": \"I never thought I'd be earning from this skill I learned in 2 weeks.\",\n      \"body\": \"Stories like [Name] aren’t rare. Thousands are learning [skill] not just for fun—but for better jobs, side incomes, or freedom.\",\n      \"cta\": \"What’s your story going to be? Take the first step 👉 [Link]\"\n    },\n    {\n      \"title\": \"Loss Aversion / Limited Opportunity\",\n      \"hook\": \"People who wait lose out—every single time.\",\n      \"body\": \"While you're hesitating, others are learning [skill], getting hired, or launching their own thing. Time is the most expensive thing you’ll spend.\",\n      \"cta\": \"Secure your spot. Learn [skill] today before this window closes. [Link]\"\n    },\n    {\n      \"title\": \"Identity Activation\",\n      \"hook\": \"You don’t need to be a genius to learn this. You just need to start.\",\n      \"body\": \"Real learners aren’t born—they’re made. If you're someone who values growth, freedom, and building something real, this is for you.\",\n      \"cta\": \"Step into the version of you that doesn’t wait. Join here 👉 [Link]\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        818,
        1500
      ],
      "id": "c802038e-9d97-4429-8fc8-cdc0954d884f",
      "name": "Marketing Choices"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3e0a9b4-b5d1-4b89-9fe7-39d586a4d8bf",
              "name": "ad_style_selected_idx",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        975
      ],
      "id": "0c144afb-508f-4df7-a353-f50d37be5477",
      "name": "idx 0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3e0a9b4-b5d1-4b89-9fe7-39d586a4d8bf",
              "name": "ad_style_selected_idx",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        1175
      ],
      "id": "f834bbe1-f724-4d8b-900d-c1b194b9abae",
      "name": "idx 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3e0a9b4-b5d1-4b89-9fe7-39d586a4d8bf",
              "name": "ad_style_selected_idx",
              "value": 2,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        1375
      ],
      "id": "ffe93f04-15aa-489a-b2ca-fdce1dc58742",
      "name": "idx 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3e0a9b4-b5d1-4b89-9fe7-39d586a4d8bf",
              "name": "ad_style_selected_idx",
              "value": 3,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        1575
      ],
      "id": "05f5894a-b707-48fb-9598-396e278cc428",
      "name": "idx 3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3e0a9b4-b5d1-4b89-9fe7-39d586a4d8bf",
              "name": "ad_style_selected_idx",
              "value": 4,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        1775
      ],
      "id": "fdee3a90-40ab-40ea-ab46-55f71687cbd7",
      "name": "idx 4"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1932,
        1233
      ],
      "id": "a5efb689-7cf6-43de-a34e-ec6f1d0d0820",
      "name": "Merge1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d931f3d-b391-4be9-a50a-cc4a73c31b71",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Finished",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "4e06a396-49df-4adc-8c8c-738481ee5a0f",
              "leftValue": "={{$runIndex}}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3564,
        1050
      ],
      "id": "cada7323-0548-4634-88ac-7e677aae05d9",
      "name": "Evaluate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3e0a9b4-b5d1-4b89-9fe7-39d586a4d8bf",
              "name": "content",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2748,
        1275
      ],
      "id": "42237e65-0f44-49d5-aa64-e70dbf0aa2d3",
      "name": "set content"
    },
    {
      "parameters": {
        "content": "## evaluate",
        "height": 80,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3020,
        980
      ],
      "id": "38d55946-fc60-4d66-b8b0-327a728e318c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Content: {{ $json.content }}\n\nFeedback: {{ $json.output }}",
        "options": {
          "systemMessage": "=## ภาพรวม\nคุณเป็นผู้เชี่ยวชาญด้านการเลือกใช้คำพูดให้ดีขึ้น งานของคุณคือนำเนื้อหาโพสมาปรับให้เหมาะสมตามคำติชม\n\n## ผลลัพธ์\nส่งกลับมาแค่เนื้อหาที่ถูกปรับปรุงแล้ว ไม่ต้องมีคำอธิบาย"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        3784,
        1050
      ],
      "id": "e5db141f-1c3a-4760-8f93-8ae1fa1d28da",
      "name": "Optimizer Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=นี่เนื้อหาที่จะนำโพส:\n{{ $json.content }}",
        "options": {
          "systemMessage": "=## ภาพรวม\nคุณเป็นผู้เชี่ยวชาญในการประเมินด้านการเนื้อหาโพส เพื่อเชิญชวน นักเรียน พนักงาน หรือบุคคลทั่วไปมาเข้าร่วม หน้าที่ของคุณคือการให้ข้อเสนอแนะเกี่ยวกับเนื้อหาที่โพส\n\n## เกณฑ์\nตรวจสอบให้แน่ใจว่า:\n- ตรวจสอบให้แน่ใจว่าเนื้อหานั้นมีความชัดเจนกับเนื้อหาการสอนตรงกับกลุ่มเป้าหมาย\n- ตรวจสอบให้แน่ใจว่าภาษาไทยที่ใช้ดูเหมือนกับ Influencer ซึ่งมีความโน้มน้าวและเป็นกันเอง\n- ตรวจสอบให้แน่ใจว่าภาษาที่ใช้ยังคงมีความเป็นมืออาชีพ เสมือนเป็นผู้ร่วมจัดตั้งการพบปะแลกเปลี่ยนความรู้ครั้งนี้\n- ตรวจสอบการใช้คำทับศัพท์ แม่นยำตรงตามกับหัวข้อที่เรียน\n- ไม่ปรับแต่งเนื้อหาเกินจริง หากไม่มีอยู่ในข้อมูลอ้างอิง\n\n## ผลลัพธ์\nคุณเพียงแค่ต้องให้ข้อเสนอแนะเท่านั้นโดยที่ไม่ต้องมีการชื่นชม หากเนื้อหาสมบูรณ์และเป็นไปตามเกณฑ์ทุกข้อ ให้พิมพ์ว่า \"Finished\" เท่านั้น"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2968,
        1125
      ],
      "id": "e899d53f-de52-4432-ad71-07e45ab35b81",
      "name": "Evaluator Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3056,
        1345
      ],
      "id": "e2e19246-6c53-4384-9515-f3dc447d4e63",
      "name": "4o-mini",
      "credentials": {
        "openAiApi": {
          "id": "OWBmhC44Dxoxd8qx",
          "name": "Personal - n8n connect"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3344,
        1050
      ],
      "id": "bd36a5d6-f300-45f3-8007-e140886dcd5f",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f3e0a9b4-b5d1-4b89-9fe7-39d586a4d8bf",
              "name": "outline",
              "value": "=## Course: {{ $json.name }} for {{ $json.property_level }}\n## Instructor: ข้าวฟ่าง and host team\n\n## About the session:\n{{ $json.property_introduction }}\n\n## What they will get from the course:\n{{ $json.property_objective }}\n\n## Date:\nfrom {{ $json.property_date_range.start }} to {{ $json.property_date_range.end }}\n\n## Session type:\n{{ $json.property_session_type }}\n\n## Link to enroll\nhttps://google.com\n\n## Location\nBTS Phrompong",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2152,
        1275
      ],
      "id": "2e983538-41d0-46d5-8404-ab3923d49784",
      "name": "set content outline"
    }
  ],
  "connections": {
    "News summarize Agent": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          },
          {
            "node": "Push to Docs2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "mockup news ot",
            "type": "main",
            "index": 0
          },
          {
            "node": "News summarize Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-3.5-turbo": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "News summarize Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Ad Outline Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "get pages course list": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "get pages course list",
            "type": "main",
            "index": 0
          },
          {
            "node": "Marketing Choices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ad Outline Agent": {
      "main": [
        [
          {
            "node": "set content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mockup news ot": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marketing Choices": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "idx 0",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "idx 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "idx 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "idx 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "idx 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "idx 0": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "idx 1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "idx 2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "idx 3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "idx 4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "set content outline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set content": {
      "main": [
        [
          {
            "node": "Evaluator Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Evaluate": {
      "main": [
        [],
        [
          {
            "node": "Optimizer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Evaluator Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Optimizer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Evaluator Agent": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Push to Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Optimizer Agent": {
      "main": [
        [
          {
            "node": "set content",
            "type": "main",
            "index": 0
          },
          {
            "node": "Push to Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Evaluate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set content outline": {
      "main": [
        [
          {
            "node": "Ad Outline Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5c00f0ac-b8c2-464c-9c65-51696c74e74f",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-06-15T07:15:53.533Z",
      "updatedAt": "2025-06-15T07:15:53.533Z",
      "id": "IdmwSqVN0qsBEGBm",
      "name": "on production"
    }
  ]
}